<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <title>A Propos de SFA-EV</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <!-- Banner -->
            <div class="bandeau" style="background-image: url(/img/SFA-Banniere.webp);">
                <h1>A propos de SFA-EV</h1>
            </div>

            <div class="text-center">
                <section>
                    <h2>Qui sommes-nous ?</h2>
                    <p><strong>Expert dans la création, l’entretien et l’aménagement de jardins et d’espaces paysagers
                            pour
                            un
                            quotidien plus agréable</strong></p>
                    <p><strong>
                            SFA EV au service des entreprises, des collectivités locales, des particuliers.
                        </strong></p>
                    <p><strong>Le paysage : des femmes et des hommes passionnés par leur métier</strong></p>
                </section>

                <section>
                    <h2>Nos équipes :</h2>
                    <p>SFA EV s’appuie sur une équipe solide de jardiniers-paysagistes professionnels qui, au-delà de
                        leur
                        savoir-faire « végétal », déploient des compétences multiples. Les projets complets sont menés à
                        bien,
                        intégrant les végétaux comme les matériaux et prenant en compte l’environnement et la
                        biodiversité.
                    </p>
                </section>

                <section>
                    <h2>Paysagiste :</h2>
                    <p>Notre paysagiste qualifié possède de solides connaissances pour imaginer un lieu équilibré et
                        coloré,
                        en vous informant sur les variétés à privilégier.</p>
                </section>

                <section>
                    <h2>Nos équipes qualifiées :</h2>
                    <p>
                        Nos paysagistes sont forts de bonnes connaissances pour bien vous conseiller.
                        Des broussailles gênantes, des feuilles qui obstruent la vue ou encombrent un passage… Notre
                        équipe
                        sera à l'écoute de vos attentes pour redonner à votre jardin l'aspect désiré.
                        <br>Notre expert se déplace pour faire un bilan de votre parc, et vous informer sur les
                        éventuels
                        dangers
                        qu’il présente (chute de branches, présence de bactéries ou de champignons…).
                    </p>
                </section>
            </div>

        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>