<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <title>A Propos de SFA-TP</title>
        <!-- Fichier CSS pour les carousel -->
        <link rel="stylesheet" href="/css/carousel.css" type="text/css">
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <h1>A propos de SFA-TP</h1>

            <p>
                Située à proximité de la RN12, SFA TP dessert avec réactivité tous ses clients, qu’il s’agisse des
                collectivités publiques et territoriales, des promoteurs-aménageurs, des industriels et des
                particuliers.
            </p>

            <p><strong>SFA Travaux Publics propose à ces clients une offre globale clés en main
                    et un modèle d’entreprise pérenne.
                </strong></p>

            <p>
                Mise en place de
                stratégies d’accompagnement de votre projet,
                depuis l’avant-projet (grâce à son bureau études)
                à la conception et aux finitions de vos chantiers
                en s’appuyant sur un maillage relationnel local dense
                et sur des entités aux savoir-faire pointus.
            </p>

            <!-- RAJOUTER PHOTOS DE PLANS ET PEINTURE BRITOU -->

            <h2>Images</h2>
            <div class="grid text-center">
                <div class="g-col-6 g-col-md-4">
                    <div id="carouselFade" class="carousel slide carousel-fade">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/aProposSFATP/a_propos_de_tp_1.webp" width="1024" height="768"
                                    alt="A propos de SFA TP 1">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/aProposSFATP/a_propos_de_tp_2.webp" width="1024" height="768"
                                    alt="A propos de SFA TP 2">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/aProposSFATP/a_propos_de_tp_3.webp" width="1024" height="768"
                                    alt="A propos de SFA TP 3">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/aProposSFATP/a_propos_de_tp_4.webp" width="768" height="576"
                                    alt="A propos de SFA TP 4">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/aProposSFATP/a_propos_de_tp_5.webp" width="768" height="576"
                                    alt="A propos de SFA TP 5">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/aProposSFATP/a_propos_de_tp_6.webp" width="768" height="576"
                                    alt="A propos de SFA TP 6">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/aProposSFATP/a_propos_de_tp_7.webp" width="768" height="576"
                                    alt="A propos de SFA TP 7">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselFade"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>