<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <link rel="stylesheet" href="/css/carousel.css" type="text/css">
        <link rel="stylesheet" href="/css/prestation.css" type="text/css">
        <title>Arrosage</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <!-- Banner -->
            <div class="bandeau" style="background-image: url(/img/ev-banniere.webp);">
                <h1>Arrosage</h1>
            </div>

            <section class="prestation-container">
                <section class="prestation-left color3">
                    <div class="prestation">
                        <div>
                            <h2>SFA optimise les espaces verts avec des systèmes d’arrosage intelligents.</h2>
                            <p>Les systèmes d’arrosage modernes pour les jardins et espaces verts garantissent 
                                une hydratation optimale des plantes, tout en économisant l’eau grâce à une 
                                distribution contrôlée et adaptée aux besoins spécifiques des différents types 
                                de végétation.</p>
                        </div>
                    </div>
                </section>

                <section class="prestation-right">
                    <div class="prestation">
                        <div>
                            <h2>Exemples de réalisation:</h2>
                            <div class="grid text-center">
                                <div class="g-col-6 g-col-md-4">
                                    <div id="carouselFade" class="carousel slide carousel-fade">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="/img/arrosage/arrosage_1.webp" alt="plantation arbre">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/img/arrosage/arrosage_2.webp" alt="plantation arbre">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/img/arrosage/arrosage_3.webp" alt="plantation arbre">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/img/arrosage/arrosage.webp" alt="plantation arbre">
                                            </div>
                                        </div>
                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselFade" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselFade" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </section>
        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>