<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <title>Création et aménagement de paysages extérieurs</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <h1>Création et aménagement de paysages extérieurs</h1>
            </div>


            <h2>Images</h2>

        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>