<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <title>Élagage et entretiens des arbres</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <!-- Banner -->
            <div class="bandeau" style="background-image: url(/img/SFA-Banniere.webp);">
                <h1>Élagage et entretiens des arbres</h1>
            </div>

            <section>
                <h2>Images</h2>
            </section>
        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>