<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <title>Entretien des aménagements paysagers</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <h1>Entretien des aménagements paysagers</h1>
            </div>


            <h2>Images</h2>

        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>