<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <!-- Fichier CSS pour les carousel et les sections de couleurs -->
        <link rel="stylesheet" href="/css/carousel.css" type="text/css">
        <link rel="stylesheet" href="/css/prestation.css" type="text/css">
        <title>Génie végétal</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <!-- Banner -->
            <div class="bandeau" style="background-image: url(/img/ev-banniere.webp);">
                <h1>Génie végétal</h1>
            </div>

            <section class="prestation-container">
                <section class="prestation-left color3">
                    <div class="prestation">
                        <h2>Génie végétal</h2>
                        <p>SFA EV possède un réel savoir-faire en matière de génie végétal. Ces
                            travaux d’aménagement et d’entretien permettent de restaurer les habitats naturels et d’y
                            préserver ou d’y renforcer la biodiversité.
                        </p>
                    </div>
                </section>

                <section class="prestation-right">
                    <div class="prestation">
                        <div>
                            <h2>Exemples de réalisation</h2>
                            <div class="grid text-center">
                                <div class="g-col-6 g-col-md-4">
                                    <div id="carouselFade" class="carousel slide carousel-fade">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <img src="/img/genieVegetal/genie_vegetal_1.webp" alt="genie vegetal">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/img/genieVegetal/genie_vegetal_2.webp" alt="genie vegetal">
                                            </div>
                                            <div class="carousel-item">
                                                <img src="/img/genieVegetal/genie_vegetal_3.webp" alt="genie vegetal">
                                            </div>
                                        </div>

                                        <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselFade" data-bs-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Previous</span>
                                        </button>
                                        <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselFade" data-bs-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="visually-hidden">Next</span>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </section>
        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>