<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <!--Include the font awesome CSS file-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
            integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
            crossorigin="anonymous" />
        <!-- Include the Leaflet CSS file -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin="" />
        <!-- Include the Leaflet JS file -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
        <!-- Include the Leaflet map settings file -->
        <script src="/js/map.js" defer></script>
        <!-- Include the custom CSS file for this page-->
        <link rel="stylesheet" href="/css/home.css" type="text/css">
        <title>Accueil</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <!-- Banner -->
            <div class="bandeau" style="background-image: url(/img/SFA-Banniere.webp);">
                <h1>SFA Groupe</h1>
            </div>
            <!-- Services -->
            <section>
                <div class="service-section">
                    <!-- SFA TP -->
                    <div class="service-block">
                        <h2>SFA Travaux Publics</h2>
                        <img src="/img/logos/SFA-TP.png" width="764" height="326" alt="SFA Travaux publics"
                            style="width: auto; height: 40px;">
                        <p>
                            Spécialisée dans les travaux d’aménagement urbain, SFA Travaux Publics est à même de
                            répondre à
                            toutes vos exigences en matière de travaux publics
                        </p>
                        <a href="/about-SFA-TP">A propos de SFA travaux Publics</a>
                    </div>
                    <!-- SFA EV -->
                    <div class="service-block">
                        <h2>SFA Espaces Verts</h2>
                        <img src="/img/logos/SFA-Espaces-Verts.png" width="715" height="349" alt="SFA Travaux publics"
                            style="width: auto; height: 43px;">
                        <p>
                            Spécialiste dans la création et l'entretien d’espaces verts, la pose
                            de portail, portillon, grillage (rigide ou souple), SFA Espaces Verts
                            vous propose d’intervenir sur tous vos projets en île-de-France.
                        </p>
                        <a href="/about-SFA-EV">A propos de SFA travaux Espaces verts</a>
                    </div>
                </div>
            </section>
            <!-- Prestations -->
            <section class="color5">
                <h2>Nos Prestations</h2>
                <div class="prestation-box">
                    <div>
                        <h3>Découvrez nos prestations</h3>
                        <p class="prestation-text">
                            Découvrir nos prestations de travaux publics et d'espaces verts
                        </p>
                    </div>
                    <a href="/prestation" class="prestation-link">
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </section>
            <!-- Recrutement -->
            <section class="color1">
                <h2>SFA Recrute!</h2>
                <p style="text-align:center;">Vous souhaitez exercer un métier qui a du sens ?
                    Vous avez envie de vous engager dans votre région et d’avoir un réel impact en aménageant les
                    espaces verts ? <br>
                    SFA recrute : rejoignez la Team SFA Espaces Verts !
                </p>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="emploi-box">
                                <div class="emploi-img">
                                    <img src="/img/icones/la-mise-en-reseau.png" alt="paysage">
                                </div>
                                <div class="emploi-content">
                                    <h3>Chef d’équipe Espaces Verts</h3>
                                    <p>Vous êtes doté d'une bonne capacité d'attention et d'une grande
                                        réactivité. Vous avez le sens des responsabilités avec un bon état
                                        d'esprit, vous êtes vigilant, prudent avec de bons réflexes et aimez la
                                        polyvalence.</p>
                                    <ul>
                                        <li>CDI</li>
                                        <li>Indemnité de déplacement et panier repas </li>
                                        <li>Île-de-France</li>
                                        <li>Salaire : selon expérience</li>
                                    </ul>
                                    <a href="/contact">Contacter</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="emploi-box">
                                <div class="emploi-img">
                                    <img src="/img/icones/paysage.png" alt="paysage">
                                </div>
                                <div class="emploi-content">
                                    <h3>Paysagiste</h3>
                                    <p><strong>Les missions : Préparer les sols (terrassements, désherbage...)
                                            Effectuer les plantations de végétaux et les protéger
                                            Installer les équipements nécessaires (arrosage automatique, clôture)
                                            Réaliser la maçonnerie légère (bordures, dalles, pavés...)
                                            Tailler les arbres et arbustes
                                            Assurer l'entretien des surfaces </strong>
                                    </p>
                                    <p>Vous avez des connaissances en architecture, en gestion, en horticulture, en
                                        travaux publics et en génie civil
                                        Vous avez un esprit créatif
                                        Vous êtes passionné par les végétaux et aimez travailler en équipe
                                        Alors ce poste est fait pour vous, n'hésitez pas à postuler !
                                        Une première expérience significative dans ce domaine est demandée,
                                        Tous nos postes sont ouverts aux candidats en situation de handicap.
                                    </p>
                                    <ul>
                                        <li>CDI</li>
                                        <li>Indemnité de déplacement et panier repas </li>
                                        <li>Île-de-France</li>
                                        <li>Salaire : selon le profil</li>
                                    </ul>
                                    <a href="/contact">Contacter</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="emploi-box">
                                <div class="emploi-img">
                                    <img src="/img/icones/branche.png" alt="paysage">
                                </div>
                                <div class="emploi-content">
                                    <h3>Élagueur</h3>
                                    <p>Rejoignez notre équipe dynamique en tant qu'élagueur et mettez en avant votre
                                        expertise pour entretenir et sublimer nos espaces verts. <br>
                                        Passionné par la nature et doté d'un savoir-faire en élagage ? Nous recherchons
                                        un élagueur qualifié pour renforcer notre équipe et contribuer à la beauté de
                                        nos projets paysagers.</p>
                                    <ul>
                                        <li>CDI</li>
                                        <li>Indemnité de déplacement et panier repas </li>
                                        <li>Île-de-France</li>
                                        <li>Salaire : selon expérience</li>
                                    </ul>
                                    <a href="/contact">Contacter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </section>
            <!-- Chantiers -->
            <section>
                <h2>Nos Chantiers</h2>
                <div id="map"></div>
            </section>
            <!-- Qui sommes-nous ? -->
            <section class="color5">
                <h2>Satisfaction de notre clientèle</h2>
                <p>
                    A partir de notre ancrage local, imaginer, construire, accompagner, nos partenaires clients, de
                    façon responsable. </p>
                <ul class="text">
                    <li>Qualité des prestations, écoute des attentes, respect des délais, réactivité en cas d’urgence
                        (en 24 heures)</li>
                    <li>Notre engagement pour l’environnement et la sauvegarde de la biodiversité est mis en œuvre sur
                        l’ensemble de nos chantiers. Il s’agit d’aménager et de construire, tout en valorisant la
                        qualité de vie de chacun.</li>
                </ul>
            </section>
            <!-- Contact -->
            <section class="color1">
                <div class="social-links">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img src="/img/icones/facebook.png" alt="facebook" />
                    </a>
                    <a href="https://www.linkedin.com/" target="_blank">
                        <img src="/img/icones/linkedin.png" alt="linkedin" />
                    </a>
                    <a href="tel:+33237510510">
                        <img src="/img/icones/appel-telephonique.png" alt="phone" />
                    </a>
                    <a href="mailto:contact@sfa-ev.com">
                        <img src="/img/icones/email.png" alt="mail" />
                    </a>
                </div>
            </section>
        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>