<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <title>Prestation</title>
        <!-- Grid css file -->
        <link rel="stylesheet" href="/css/grid.css" type="text/css">
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <div class="bandeau" style="background-image: url(/img/SFA-Banniere.webp);">
                <h1>Prestation</h1>
            </div>

            <section>
                <h2>Travaux Publics :</h2>

                <div class="container">
                    <div class="row image-grid">
                        <div class="col-md-3">
                            <a href="/grosAmenagement">
                                <div class="image-container">
                                    <img src="/img/grosAmenagement/lotissement.webp" alt="Gros aménagements">
                                    <div class="image-text">Gros aménagements</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/amenagementUrbain">
                                <div class="image-container">
                                    <img src="/img/Amenagements_Urbain/amenagement_zone_permeable_3.webp"
                                        alt="Aménagements urbain">
                                    <div class="image-text">Aménagements urbain</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/maconnerie">
                                <div class="image-container">
                                    <img src="/img/maconnerie/pave_2.webp" alt="Maçonnerie">
                                    <div class="image-text">Maçonnerie</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/reseaux">
                                <div class="image-container">
                                    <img src="/img/reseaux/aep.webp" alt="Réseaux">
                                    <div class="image-text">Réseaux</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <h2>Espaces verts :</h2>

                <div class="container">
                    <div class="row image-grid">
                        <div class="col-md-3">
                            <a href="/voirie">
                                <div class="image-container">
                                    <img src="/img/grosAmenagement/lotissement.webp" alt="Gros aménagements">
                                    <div class="image-text">Entretien des espaces verts et voiries pour les
                                        collectivités</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/creationPaysageExt">
                                <div class="image-container">
                                    <img src="/img/Amenagements_Urbain/amenagement_zone_permeable_3.webp"
                                        alt="Aménagements urbain">
                                    <div class="image-text">Création et aménagement de paysages extérieurs</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/entretienAmenagementPaysage">
                                <div class="image-container">
                                    <img src="/img/maconnerie/pave_2.webp" alt="Maçonnerie">
                                    <div class="image-text">Entretien des aménagements paysagers</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/elagage">
                                <div class="image-container">
                                    <img src="/img/reseaux/aep.webp" alt="Réseaux">
                                    <div class="image-text">Élagage et entretiens des arbres</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/cloturePortail">
                                <div class="image-container">
                                    <img src="/img/reseaux/aep.webp" alt="Réseaux">
                                    <div class="image-text">Pose de clôtures et de portails</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/arrosage">
                                <div class="image-container">
                                    <img src="/img/reseaux/aep.webp" alt="Réseaux">
                                    <div class="image-text">Arrosage</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/genieVegetalEcologique">
                                <div class="image-container">
                                    <img src="/img/reseaux/aep.webp" alt="Réseaux">
                                    <div class="image-text">Génie végétal et génie écologique</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-3">
                            <a href="/vegetalisation">
                                <div class="image-container">
                                    <img src="/img/reseaux/aep.webp" alt="Réseaux">
                                    <div class="image-text">Végétalisation des terrasses et des toitures</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>