<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <!-- Fichier CSS pour les carousel -->
        <link rel="stylesheet" href="/css/carousel.css" type="text/css">
        <title>Réseaux</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <h1>Réseaux</h1>
            <div class="block-center">
                <h4 class="text" style="margin-bottom: 20px;">Les travaux publics, les terrassements et les réseaux :</h4>
                <ul class="text">
                    <li>Création et mise aux normes de l’assainissement et de réseaux divers</li>
                    <li>Création branchements en EU EP</li>
                    <li>Extension de réseaux EU EP</li>
                    <li>Pose de réseau FT et fibre</li>
                    <li>AEP (partenariat)</li>
                </ul>
            </div>


            <h2>Images</h2>
            
        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>