<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <!-- Fichier CSS pour les carousel -->
        <link rel="stylesheet" href="/css/carousel.css" type="text/css">
        <title>Réseaux</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <!-- Banner -->
            <div class="bandeau" style="background-image: url(/img/SFA-Banniere.webp);">
                <h1>Réseaux</h1>
            </div>

            <section>
                <div class="block-center">
                    <h2>Les travaux publics, les terrassements et les réseaux:
                    </h2>
                    <ul class="text">
                        <li>Création et mise aux normes de l’assainissement et de réseaux divers</li>
                        <li>Création branchements en EU EP</li>
                        <li>Extension de réseaux EU EP</li>
                        <li>Pose de réseau FT et fibre</li>
                        <li>AEP (partenariat)</li>
                    </ul>
                </div>
            </section>


            <section>
                <h2>Images</h2>
            </section>

        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>