<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('partials/head'); %>
        <title>Entretien des espaces verts et voiries pour les collectivités</title>
</head>

<body>
    <%- include('partials/header'); %>

        <main>
            <!-- Banner -->
            <div class="bandeau" style="background-image: url(/img/SFA-Banniere.webp);">
                <h1>Entretien des espaces verts et voiries pour les collectivités</h1>
            </div>

            <section>
                <div class="block-center">
                    <h2 class="text" style="margin-bottom: 20px;">SFA EV, partenaire privilégié des communes et
                        collectivités comme service externe d’entretien des espaces verts et voiries
                    </h2>
                    <p style="margin-bottom: 20px;">SFA entretient vos places, parcs publics et jardin d’enfants, rues, trottoirs, parkings, massifs
                        et environnement proche des bâtiments publics (mairies, collectivités territoriales, communautés
                        d’agglomération…) </p>

                    <h4 class="text-center">Nous mettons aussi a votre disposition:</h4>
                    <ul class="text">
                        <li>Balayeuse de rues & trottoirs, curage de fossés, créations & entretiens de massifs, élagage,
                            débroussaillage des bordures,</li>
                        <li>Soufflage ramassage des feuilles, évacuation en décharge</li>
                        <li>Arrosage automatique </li>
                        <li>Nettoyage et bêchage des massifs</li>
                        <li>Ramassage des papiers dans les espaces verts</li>
                        <li>Déneigeuse</li>
                    </ul>
                </div>
            </section>

            <section>
                <h2>Images</h2>
            </section>
        </main>

        <%- include('partials/footer'); %>
            <%- include('partials/script');%>
</body>

</html>