@charset "UTF-8";

/* CSS Document */

/*Carousel*/
.carousel {
    width: 90%;
    max-width: 750px;
    margin: auto auto 20px;
}

.block-center{
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 617px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}