@charset "UTF-8";

/* CSS Document */

/*contact-Section*/
.contact-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1450px;
    margin: 10px auto auto;
}

.contact-block {
    width: 30%;
    border: 1px solid lightgray;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-block a {
    color: black;
}

@media (max-width: 767px) {
    .contact-section {
        flex-direction: column;
    }

    .contact-block {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*Contact-form*/
#contact-form {
    width: 100%;
    max-width: 860px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 5px;
}

#contact-form div {
    width: 100%;
}

#contact-form input {
    width: 100%;
    height: 40px;
}

#contact-form textarea {
    width: 100%;
    height: 120px;
}

#contact-form>div {
    margin-bottom: 20px;
}

#contact-form button {
    width: 100%;
    height: 50px;
    background-color: #ffb83d;
    color: white;
    font-weight: bold;
    border: none;
    margin-bottom: auto;
}

#contact-form button:hover {
    background-color: #906c25;
    cursor: pointer;
}

#contact-form span {
    color: red;
}

#contact-form p {
    width: 100%;
    text-align: center;
    padding: 5px;
}

#contact-form .nom-prenom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-form .nom-prenom div {
    width: calc(50% - 2px);
}

#contact-form .selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

#contact-form .choix {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#contact-form .choix div {
    width: calc(50% - 2px);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-form .choix input {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

#contact-form .file-section {
    display: flex;
    width: auto;
    align-items: center;
}

#contact-form .file-section p {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
}

#contact-form .file-section .upload-file,
#contact-form .file-section .remove-file {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact-form .upload-file input {
    display: none;
}

#contact-form .file-section .upload-file {
    background-color: lightgray;
    border-radius: 45px;
}

.upload-file i,
.remove-file i {
    font-size: 25px;
    text-align: center;
}

.upload-file i:hover,
.remove-file i:hover {
    color: #797979;
    cursor: pointer;
}

#contact-form #upload {
    width: auto;
}

.alert {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 75px;
    /*background-color: #ffb83d;*/
    color: whitesmoke;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: -40px;
    width: 100%;
    max-width: 400px;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}