@charset "UTF-8";

/*CSS Document*/

/*Home Page*/

/*Services*/
.service-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1450px;
    margin: auto;
}

.service-block {
    width: 45%;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-block a {
    padding: 5px;
}


@media (max-width: 767px) {
    .service-section {
        flex-direction: column;
    }

    .service-block {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*Prestations*/
.prestation-box {
    width: 90%;
    max-width: 1450px;
    margin: 20px auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid;
}

.prestation-box h3 {
    font-size: 1.7em;
    text-decoration: underline;
    padding: 20px;
    margin: 0;
}

.prestation-text {
    margin-bottom: 0.5em;
}

.prestation-link {
    font-size: 1.5em;
    transition: all 0.2s;
    color: inherit;
}

.prestation-link:hover {
    transform: scale(1.2);
}

/*Map*/
#map {
    height: 500px;
    width: 90%;
    margin: auto;
    max-width: 1450px;
}

/*Social Links*/
.social-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.social-links img{
    height: 50px;
    width: auto;
    padding: 1px;
}

.social-links img:hover{
    transform: scale(1.1);
}