@charset "UTF-8";

/*CSS Document*/

/*Home Page*/

/*Services*/
.service-section {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1450px;
    margin: auto;
}

.service-block {
    width: 45%;
    border: 1px solid;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-block a {
    padding: 5px;
}


@media (max-width: 767px) {
    .service-section {
        flex-direction: column;
    }

    .service-block {
        width: 100%;
        margin-bottom: 20px;
    }
}

/*Prestations*/
.prestation-box {
    width: 90%;
    max-width: 1450px;
    margin: 20px auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid;
}

.prestation-box h3 {
    font-size: 1.7em;
    text-decoration: underline;
    padding: 20px;
    margin: 0;
}

.prestation-text {
    margin-bottom: 0.5em;
}

.prestation-link {
    font-size: 1.5em;
    transition: all 0.2s;
    color: inherit;
}

.prestation-link:hover {
    transform: scale(1.2);
}

/*Map*/
#map {
    height: 500px;
    width: 90%;
    margin: auto;
    max-width: 1450px;
}

/*Social Links*/
.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.social-links img {
    height: 50px;
    width: auto;
    padding: 1px;
}

.social-links img:hover {
    transform: scale(1.1);
}

/*Carousel*/
.carousel {
    width: 90%;
    max-width: 1450px;
    height: auto;
    margin: auto;
}

.emploi-box{
   height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;

    margin-top: 20px;
}

.emploi-img{
    width: 40%;
    height: 100%;
}

.emploi-img img{
    width: auto;
    height: 100%;
}

.emploi-content{
    width: 58%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    padding: 1em;
}

.emploi-box h3{
    padding: 10px;
}

.emploi-content ul{
    text-align: left;
    padding: 10px;
}


.emploi-content a{
    padding: 10px;
    color: inherit;
    transition: all 0.2s;
}

/* Style pour le rond blanc derrière les flèches */
.carousel-control-prev::before,
.carousel-control-next::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* Style pour ajouter une flèche à l'intérieur du rond */
.carousel-control-prev::after,
.carousel-control-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  z-index: 2;
}

/* Style pour la flèche précédente */
.carousel-control-prev::after {
  border-width: 6px 6px 6px 0;
  border-color: transparent black transparent transparent;
  transform: translate(-50%, -50%);
}

/* Style pour la flèche suivante */
.carousel-control-next::after {
  border-width: 6px 0 6px 6px;
  border-color: transparent transparent transparent black;
  transform: translate(-50%, -50%);
}

/* Style pour changer la couleur des flèches en blanc */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  fill: white;
}

/* Style pour changer la taille des flèches (optionnel) */
.carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

.carousel-indicators {
    position: relative; /* Change la position en relative */
    top: auto; /* Supprime la propriété top pour éviter un décalage vers le haut */
    bottom: auto; /* Supprime la propriété bottom pour éviter un décalage vers le bas */
}

@media screen and (max-width: 767px) {
    .emploi-box{
        flex-direction: column;
        height: auto;
    }

    .emploi-img{
        width: auto;
        height: 100px;
    }

    .emploi-content{
        width: 100%;
        height: auto;
    }
}



