@charset "UTF-8";

/* CSS Document */

/*Font*/
@import url('./font.css');

/*General*/
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

body {
    background-color: #f0f0f0;
    /*background-color: rgb(240, 240, 240);*/
}

.nav-link {
    font-weight: 500;
}

.navbar {
    background-color: white;
}

.dropdown-menu {
    background-color: white;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #4b4b4b;
    background-color: white;
}

img {
    width: 100%;
    height: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    padding: 10px;
}

h2 {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
}

h4 {
    font-weight: 600;
    padding-top: 20px;
}

p {
    width: 90%;
    max-width: 1450px;
    margin: auto;
    font-weight: 400;
    font-size: .9375rem;
}

a {
    color: #191919;
}

section {
    display: inline-block;
    width: 100%; /* Assurez-vous que la section occupe toute la largeur disponible */
    height: auto; /* La hauteur s'ajustera en fonction du contenu */
    padding-top: 5rem;
    padding-bottom: 5rem; /* Ajoutez un espace autour du contenu si nécessaire */
    box-sizing: border-box; /* Inclut les paddings dans la largeur et la hauteur totales */
}

.text {
    display: block;
    margin: auto;
    width: 90%;
    max-width: 1450px;
}

/*Bandeau*/
.bandeau {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.bandeau h1 {
    margin: 0;
    font-size: 5em;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* Navigation Bar */
.hide {
    display: none;
}

/* footer */
footer iframe {
    width: 100%;
    height: 90%;
    border: none;
}

/*Color section*/
.color1 {
    background-color: #34495e; /* Gris bleuté pour représenter le béton */
    color: #ffffff; /* Texte en blanc pour contraste */
    border-color: #2c3e50; /* Nuance plus sombre pour les bordures */
}

.color2 {
    background-color: #f39c12; /* Orange vif évoquant la sécurité */
    color: #ffffff;
    border-color: #d68910;
}

.color3 {
    background-color: #27ae60; /* Vert représentant la croissance et le développement */
    color: #ffffff;
    border-color: #219653;
}

.color5 {
    background-color: #3498db; /* Bleu associé à la confiance et à la fiabilité */
    color: #ffffff;
    border-color: #2980b9;
}


@media screen and (max-width: 768px) {
    .bandeau h1 {
        font-size: 2.5em;
    }
}